server:
  type: simple
  applicationContextPath: /scigraph
  adminContextPath: /admin
  connector:
    type: http
    port: 9000

applicationContextPath: scigraph

graphConfiguration:
  location: /scigraph/graph
  indexedNodeProperties:
    - label
  exactNodeProperties:
    - label
  neo4jConfig:
    dump_configuration : true
    dbms.pagecache.memory : 6g

  INJECT_CURIES

INJECT_QUERIES
