graphConfiguration:
    location: /scigraph/graph
    neo4jConfig:
      dump_configuration : true
      dbms.pagecache.memory : 64G

    indexedNodeProperties:
      - label
    exactNodeProperties:
      - label

ontologies:
  #- url: http://purl.obolibrary.org/obo/upheno/monarch.owl
  - url: http://data.monarchinitiative.org/owl/monarch-merged.owl
    reasonerConfiguration:
      factory: org.semanticweb.elk.owlapi.ElkReasonerFactory
      addDirectInferredEdges: true
      addInferredEquivalences: true
      removeUnsatisfiableClasses: true
  - url: http://data.monarchinitiative.org/ttl/mgi.ttl
  - url: http://data.monarchinitiative.org/ttl/panther.ttl
  - url: http://data.monarchinitiative.org/ttl/clinvar.ttl
  - url: http://data.monarchinitiative.org/ttl/ncbigene.ttl
  - url: http://data.monarchinitiative.org/ttl/biogrid.ttl
  - url: http://data.monarchinitiative.org/ttl/zfin.ttl
  - url: http://data.monarchinitiative.org/ttl/ctd.ttl
  - url: http://data.monarchinitiative.org/ttl/hpoa.ttl
  - url: http://data.monarchinitiative.org/ttl/omim.ttl
  - url: http://data.monarchinitiative.org/ttl/coriell.ttl
  - url: http://data.monarchinitiative.org/ttl/hgnc.ttl
  - url: http://data.monarchinitiative.org/ttl/kegg.ttl
  - url: http://data.monarchinitiative.org/ttl/impc.ttl
  - url: http://data.monarchinitiative.org/ttl/ucscbands.ttl
  - url: http://data.monarchinitiative.org/ttl/monochrom.ttl
  - url: http://data.monarchinitiative.org/ttl/eom.ttl
  - url: http://data.monarchinitiative.org/ttl/genereviews.ttl
  - url: http://data.monarchinitiative.org/ttl/orphanet.ttl
  - url: http://data.monarchinitiative.org/ttl/animalqtldb.ttl
  - url: http://data.monarchinitiative.org/ttl/flybase.nt
  - url: http://data.monarchinitiative.org/ttl/wormbase.nt
  - url: http://data.monarchinitiative.org/ttl/omia.ttl
  - url: http://data.monarchinitiative.org/ttl/mmrrc.ttl
  - url: http://data.monarchinitiative.org/ttl/gwascatalog.ttl
  - url: http://data.monarchinitiative.org/ttl/monarch.ttl
  - url: http://data.monarchinitiative.org/ttl/mpd.ttl
  - url: http://data.monarchinitiative.org/ttl/go.ttl
  - url: http://data.monarchinitiative.org/ttl/mgi_slim.ttl
  - url: http://data.monarchinitiative.org/ttl/zfin_slim.ttl
  - url: http://data.monarchinitiative.org/ttl/reactome.ttl
  - url: http://data.monarchinitiative.org/ttl/udp.ttl

  - url: http://biohackathon.org/resource/faldo.ttl
  - url: http://purl.obolibrary.org/obo/eco.owl
  - url: http://purl.obolibrary.org/obo/iao.owl
  - url: https://raw.githubusercontent.com/monarch-initiative/GENO-ontology/develop/src/ontology/geno.owl
  - url: https://raw.githubusercontent.com/monarch-initiative/SEPIO-ontology/master/src/ontology/sepio.owl
  - url: http://purl.obolibrary.org/obo/ero.owl
  - url: http://purl.obolibrary.org/obo/pw.owl
  - url: https://raw.githubusercontent.com/jamesmalone/OBAN/master/ontology/oban_core.ttl
  - url: http://build.berkeleybop.org/job/build-combined-noctua-models/lastSuccessfulBuild/artifact/noctua-models-noimport.owl
  # clo.owl is missing and import
  #- url: http://purl.obolibrary.org/obo/clo.owl
  - url: http://purl.obolibrary.org/obo/pco.owl
  - url: http://purl.obolibrary.org/obo/xco.owl
  - url: http://xmlns.com/foaf/spec/index.rdf
  - url: http://purl.org/dc/elements/1.1/
  - url: http://xmlns.com/foaf/0.1/

categories:
    http://purl.obolibrary.org/obo/CL_0000000 : cell
    http://purl.obolibrary.org/obo/UBERON_0001062 : anatomical entity
    #http://purl.obolibrary.org/obo/UBERON_0000468 : multi-cellular organism
    http://purl.obolibrary.org/obo/PATO_0000001 : quality
    #http://purl.obolibrary.org/obo/GO_0005623 : cell
    http://purl.obolibrary.org/obo/NCBITaxon_131567 : organism
    http://purl.obolibrary.org/obo/CLO_0000031 : cell line
    http://purl.obolibrary.org/obo/DOID_4 : disease
    #http://purl.obolibrary.org/obo/PATO_0000003 : assay
    #http://purl.obolibrary.org/obo/PATO_0000006 : process
    #http://purl.obolibrary.org/obo/PATO_0000011 : age
    #http://purl.obolibrary.org/obo/CHEBI_23367 : molecular entity
    http://purl.obolibrary.org/obo/CHEBI_23888 : drug
    http://purl.obolibrary.org/obo/UPHENO_0001001 : Phenotype
    http://purl.obolibrary.org/obo/GO_0008150 : biological process
    http://purl.obolibrary.org/obo/GO_0009987 : cellular process
    http://purl.obolibrary.org/obo/GO_0005575 : cellular component
    http://purl.obolibrary.org/obo/GO_0003674 : molecular function
    http://purl.obolibrary.org/obo/SO_0000704 : gene
    http://purl.obolibrary.org/obo/GENO_0000536 : genotype
    http://purl.obolibrary.org/obo/GENO_0000504 : reagent targeted gene
    #http://purl.obolibrary.org/obo/GENO_0000000 : intrinsic genotype
    #http://purl.obolibrary.org/obo/GENO_0000524 : extrinsic genotype
    #http://purl.obolibrary.org/obo/GENO_0000525 : effective genotype
    http://purl.obolibrary.org/obo/GENO_0000002 : variant locus
    http://purl.obolibrary.org/obo/SO_0001059 : sequence alteration
    http://purl.obolibrary.org/obo/SO_0000110 : sequence feature
    http://purl.obolibrary.org/obo/ECO_0000000 : evidence
    http://purl.obolibrary.org/obo/PW_0000001 : pathway
    http://purl.obolibrary.org/obo/IAO_0000310 : publication
    http://xmlns.com/foaf/0.1/Person : case
    http://purl.org/oban/association : association
    # the following can be removed when VT/OBA is linked to UPheno
    http://purl.obolibrary.org/obo/VT_0000001 : Phenotype
    http://purl.obolibrary.org/obo/OBA_0000001 : Phenotype

mappedProperties:
  - name: label
    properties:
    - http://www.w3.org/2000/01/rdf-schema#label
  - name: synonym
    properties:
    - http://www.geneontology.org/formats/oboInOwl#hasExactSynonym
    - http://www.geneontology.org/formats/oboInOwl#hasNarrowSynonym
    - http://www.geneontology.org/formats/oboInOwl#hasBroadSynonym
    - http://www.geneontology.org/formats/oboInOwl#hasRelatedSynonym
    - http://purl.obolibrary.org/obo/go#systematic_synonym
    - http://ontology.neuinfo.org/NIF/Backend/OBO_annotation_properties.owl#synonym
  - name: acronym
    properties:
    - http://ontology.neuinfo.org/NIF/Backend/OBO_annotation_properties.owl#acronym
  - name: abbreviation
    properties:
    - http://ontology.neuinfo.org/NIF/Backend/OBO_annotation_properties.owl#abbrev
  - name: definition
    properties:
    - http://purl.obolibrary.org/obo/IAO_0000115
    - http://www.w3.org/2004/02/skos/core#definition
  - name: version
    properties:
    - http://www.w3.org/2002/07/owl#versionInfo
    
cliqueConfiguration:
  relationships:
    - sameAs
    - equivalentClass
  leaderAnnotation: https://monarchinitiative.org/MONARCH_cliqueLeader
  leaderPriority:
    - http://www.ncbi.nlm.nih.gov/gene/
    - http://www.ncbi.nlm.nih.gov/pubmed/
    - http://purl.obolibrary.org/obo/NCBITaxon_
    - http://identifiers.org/ensembl/
    - http://purl.obolibrary.org/obo/OMIM_
    - http://purl.obolibrary.org/obo/DOID_
    - http://www.orpha.net/ORDO/Orphanet_
    - http://purl.obolibrary.org/obo/HP_
    - http://purl.obolibrary.org/obo/MP_
    - http://purl.obolibrary.org/obo/ZP_
  leaderForbiddenLabels:
    - anonymous
  batchCommitSize: 100000 